# Overall owox variables
#######################################
OWOX_ENV_SET=true                     # set to 'true' when env is configured
OWOX_ENV_FILE_PATH=path/to/file/.env  # optional: custom path to env file (Use when it is possible to pass the file path only through environment variables)

LOG_FORMAT=json                       # options: pretty, json
LOG_LEVELS=log                        # options: log,warn,error,debug,verbose,fatal
####################################### 

# @owox/backend 
####################################### 
TYPEORM_LOGGING=true                  # enable/disable TypeORM SQL logging
RUN_MIGRATIONS=false                  # auto-run database migrations on start
DB_TYPE=sqlite                        # options: sqlite, mysql

## Backend sqlite database 
SQLITE_DB_PATH=./path/to/database/backend.db

# OR (if choose DB_TYPE=mysql) 

## Backend MySQL database 
DB_HOST=localhost
DB_PORT=3312
DB_USERNAME=myuser
DB_PASSWORD=mypassword
DB_DATABASE=datamarts
####################################### 


# @owox/idp 
####################################### 
IDP_PROVIDER=none                     # options: none, better-auth, owox
###################################### 


# @owox/idp-better-auth  (if choose IDP_PROVIDER=better-auth) 
#######################################
IDP_BETTER_AUTH_SECRET=your-super-secret-key-min-32-chars-long
IDP_BETTER_AUTH_BASE_URL=http://localhost:3000

IDP_BETTER_AUTH_MAGIC_LINK_TTL=3600   # Optional
IDP_BETTER_AUTH_SESSION_MAX_AGE=86400 # Optional

IDP_BETTER_AUTH_DATABASE_TYPE=sqlite  # options: sqlite, mysql

# SQLite Configuration (default)
IDP_BETTER_AUTH_SQLITE_DB_PATH=./data/auth.db

# OR (if choose IDP_BETTER_AUTH_DATABASE_TYPE=mysql) 

# MySQL Configuration
IDP_BETTER_AUTH_MYSQL_HOST=localhost
IDP_BETTER_AUTH_MYSQL_PORT=3306
IDP_BETTER_AUTH_MYSQL_USER=root
IDP_BETTER_AUTH_MYSQL_PASSWORD=password
IDP_BETTER_AUTH_MYSQL_DATABASE=better_auth
#######################################