name: Test all

on:
  pull_request:
    paths-ignore:
      - 'apps/docs/**'
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Test job
  test:
    name: ${{ matrix.test.name }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: ${{ matrix.test.timeout }}

    strategy:
      # If one check fails, the others will continue to run
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        test:
          - name: 'Test @owox/backend'
            command: 'npm run test -w @owox/backend'
            timeout: 10
          - name: 'Test @owox/web'
            command: 'npm run test -w @owox/web'
            timeout: 10
          - name: 'Test owox'
            command: 'npm run test -w owox'
            timeout: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit --ignore-scripts --no-fund --loglevel error

      - name: Build all internal packages
        run: npm run build -w owox

      - name: Run ${{ matrix.test.name }}
        run: ${{ matrix.test.command }}
        env:
          NODE_ENV: test
