name: Test and Build @owox/docs

on:
  pull_request:
    paths:
      - 'apps/docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Build job
  build:
    name: Build @owox/docs
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      # can't set --ignore-scripts because Astro uses postinstall
      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit --no-fund --loglevel error

      - name: Run build
        run: npm run build -w @owox/docs
        env:
          NODE_ENV: production
